<div class="front-window" id="front_window_<%= task.id %>">
	<div class="date-select">
		<div class="title">Select deadline date</div>
		<span class="hidden"><%= task.id %></span>
			<%= form_for(task,url: update_deadline_path(task), remote: true) do |f| %>
				<%=	if task.deadline.nil?
							f.date_select :deadline, discard_year: true
						else 
							f.date_select :deadline, discard_year: true, default: task.deadline
						end %>
				<br>
				<div class="cancel deadline_close"><span>Cancel</span></div>
				<%= f.submit "Save", class: "deadline_sub" %>
			<% end %>
	</div>
</div>