<% provide(:navigation_url, "/sql") %>
<% provide(:navigation_text, "SQL") %>
<div class="omniauth">
	<div style="<%= 'display:none' if signed_in? %>">
		<p class="login">Please login</p>
		<p><%= link_to(image_tag(image_url('sign-in-facebook.png'), width: 200), user_omniauth_authorize_path(:facebook)) %>
		<p><%= link_to(image_tag(image_url('sign-in-vk.png'), width: 200, height: 40), user_omniauth_authorize_path(:vkontakte)) %>
	</div>
	<span class="logout"  style="<%= 'display:none' unless signed_in? %>">
		<%= link_to("Logout", "logout" ,remote: true, method: :delete) %>
	</span>
</div>
<% if signed_in? %>
	<center>
	<div class="projects">
			<%= form_for(@project, remote: true) do |f| %>
				<%= f.text_field :name %>
				<%= f.submit "Add TODO List", class: "ion-plus", id: "new_project_button"%> <!-- id used by JS -->
			<%end%>
		<br>
		<div>
			<%= render 'shared/projects' %>
		</div>
	</div>
	</center>
<% end %>
