<li class="col-md-10 col-md-offset-1">
	<h2>
		<%= project.name %>
		<%= link_to "Delete", project, class: "control",method: :delete  %>
		<p class="control"><a href="#">Edit</a></p>
		<%= form_for(project) do |f| %>
			<%= f.text_field :name %>
			<%= f.submit "Save", class: "btn"  %>
		<% end %>
	</h2>
	<%= form_for(@task) do |f| %>
		<%= f.text_field :name, placeholder: "Type your task here..." %>
		<%= f.hidden_field :project_id, :value => project.id %>
		<%= f.submit "Add Task", class: "btn btn-primary" %>
	<% end %>
	<% if project.tasks.any? %>
		<% project.tasks.order(priority: :desc).each do |x| %>
			<h3>
				<input type="checkbox" name="done" id="done" <%= 'checked' if x.done%>>
				<%= x.name %>	
				<p class="control">
					<%= link_to("Up", up_path(x), method: :prioritizeUp) %>
					<%= link_to("Down", down_path(x), method: :prioritizeDown) %>
					<a href="#">Edit</a>
					<%= link_to "Delete", x, class: "control",method: :delete  %>
				</p>
				<%= form_for(x) do |f| %>
					<%= f.text_field :name %>
					<%=	if x.deadline.nil?
								f.date_select :deadline
							else 
								f.date_select :deadline, default: x.deadline
							end %>
					<%= f.submit "Save", class: "btn"  %>
				<% end %>
			</h3>
		<% end %>
	<% else %>
		<h3>Empty</h3>
	<% end %>
</li>
