<li class="col-md-10 col-md-offset-1">
	<h2>
		<%= project.name %>
		<%= link_to "Delete", project, class: "control",method: :delete  %>
		<p class="control"><a href="#">Edit</a></p>
		<%= form_for(project) do |f| %>
			<%= f.text_field :name %>
			<%= f.submit "Save", class: "btn"  %>
		<% end %>
	</h2>
	<%= form_for(@task) do |f| %>
		<%= f.text_field :name, placeholder: "Type your task here..." %>
		<%= f.hidden_field :project_id, :value => project.id %>
		<%= f.submit "Add Task", class: "btn btn-primary" %>
	<% end %>
	<br><hr>
	<% if project.tasks.any? %>
		<% project.tasks.order(priority: :desc).each do |x| %>
			<h3><%= render x %></h3>
		<% end %>
	<% else %>
		<h4>No tasks yet</h4>
	<% end %>
</li>
