<li class="col-md-10 col-md-offset-1" id="project<%= project.id %>">
	<h2>
		<span id="name<%= project.id %>"><%= project.name %></span>
		<%= link_to "Delete", project, class: "control",method: :delete, remote: true  %>
		<p class="control"><a href="#">Edit</a></p>
		<%= form_for(project, remote: true) do |f| %>
			<%= f.text_field :name %>
			<%= f.submit "Save", class: "btn"  %>
		<% end %>
	</h2>
	<%= form_for(@task, remote: true) do |f| %>
		<%= f.text_field :name, placeholder: "Type your task here..." %>
		<%= f.hidden_field :project_id, :value => project.id %>
		<%= f.submit "Add Task", class: "btn btn-primary" %>
	<% end %>
	<br><hr>
	<% if project.tasks.any? %>
		<% project.tasks.order(priority: :desc).each do |x| %>
			<div id="task<%= x.id %>">
				<%= render x %>
			</div>
		<% end %>
	<% else %>
		<h4>No tasks yet</h4>
	<% end %>
</li>
